.products-container {
  margin-top: 20px;
  .products-item {
    .well {
      max-height: 250px;
      margin-bottom: 20px;
      a.image-product-link {
        height: 150px;
        width: auto;
        img {
          height: inherit;
          width: auto;
          margin: 0 auto;
        }
      }
      .capture {
        a {
          color: @main-color;
          font-weight: 600;
          &:hover {
            color: @main-second-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}

