@import url('https://fonts.googleapis.com/css?family=Lobster');
* {
  box-sizing: border-box;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  max-width: 98%;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.btn-purple-light {
  color: #fff;
  text-shadow: none;
  background-color: #a07ebd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a07ebd), to(#6d488d));
  background-image: -webkit-linear-gradient(top, #a07ebd, #6d488d);
  background-image: -moz-linear-gradient(top, #a07ebd, #6d488d);
  background-image: -ms-linear-gradient(top, #a07ebd, #6d488d);
  background-image: -o-linear-gradient(top, #a07ebd, #6d488d);
  border: 1px solid #6d488d;
}
.btn-purple-light:hover {
  color: #fff;
  background-color: #875cac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#875cac), to(#392649));
  background-image: -webkit-linear-gradient(top, #875cac, #392649);
  background-image: -moz-linear-gradient(top, #875cac, #392649);
  background-image: -ms-linear-gradient(top, #875cac, #392649);
  background-image: -o-linear-gradient(top, #875cac, #392649);
}
nav.navbar-inverse {
  background-color: #6d488d;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d488d), to(#53376b));
  background: -webkit-linear-gradient(top, #6d488d, #53376b);
  background: -moz-linear-gradient(top, #6d488d, #53376b);
  background: -ms-linear-gradient(top, #6d488d, #53376b);
  background: -o-linear-gradient(top, #6d488d, #53376b);
  border-color: #5b3d75;
}
nav.navbar-inverse .navbar-header a.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 27px;
  color: #df4aae;
}
nav.navbar-inverse .navbar-header a.navbar-brand:hover {
  color: #df4aae;
  text-shadow: 0 0 1px #e775c1;
}
nav.navbar-inverse .navbar-collapse {
  max-height: 800px;
}
nav.navbar-inverse .navbar-collapse .navbar-nav .dropdown:focus,
nav.navbar-inverse .navbar-collapse .navbar-nav .dropdown:active {
  color: #fff;
  background-color: #53376b;
}
nav.navbar-inverse .navbar-collapse .navbar-nav > .open > a,
nav.navbar-inverse .navbar-collapse .navbar-nav > .open > a:hover {
  background-color: #53376b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53376b), to(#6d488d));
  background-image: -webkit-linear-gradient(top, #53376b, #6d488d);
  background-image: -moz-linear-gradient(top, #53376b, #6d488d);
  background-image: -ms-linear-gradient(top, #53376b, #6d488d);
  background-image: -o-linear-gradient(top, #53376b, #6d488d);
}
nav.navbar-inverse .navbar-collapse .navbar-nav li.dropdown:hover,
nav.navbar-inverse .navbar-collapse .navbar-nav li.menu-link:hover {
  background-color: #875cac;
  background: -webkit-gradient(linear, left top, left bottom, from(#875cac), to(#6d488d));
  background: -webkit-linear-gradient(top, #875cac, #6d488d);
  background: -moz-linear-gradient(top, #875cac, #6d488d);
  background: -ms-linear-gradient(top, #875cac, #6d488d);
  background: -o-linear-gradient(top, #875cac, #6d488d);
}
nav.navbar-inverse .navbar-collapse .navbar-nav li > a {
  color: #fff;
}
nav.navbar-inverse .navbar-collapse .navbar-nav li ul.dropdown-menu {
  border-color: #eae3f1;
}
nav.navbar-inverse .navbar-collapse .navbar-nav li ul.dropdown-menu > li > a {
  color: #875cac;
  background-color: #fff;
}
nav.navbar-inverse .navbar-collapse .navbar-nav li ul.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #b9a0ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#b9a0ce), to(#6d488d));
  background: -webkit-linear-gradient(top, #b9a0ce, #6d488d);
  background: -moz-linear-gradient(top, #b9a0ce, #6d488d);
  background: -ms-linear-gradient(top, #b9a0ce, #6d488d);
  background: -o-linear-gradient(top, #b9a0ce, #6d488d);
}
nav.navbar-inverse .navbar-collapse .navbar-form .form-control:focus {
  border-color: #b9a0ce;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.07), 0 0 8px rgba(157, 122, 233, 0.6);
}
.main-container {
  margin-bottom: 20px;
  flex: 1;
}
footer .nav-list .nav-header {
  color: #53376b;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #a07ebd;
}
footer .nav-list li > a {
  color: #875cac;
}
footer .nav-list li > a:hover {
  background-color: #e8e8e8;
}
@media (max-width: 1200px) {
  .navbar-nav li.menu-people {
    display: none;
  }
}
@media (max-width: 992px) {
  nav.navbar-inverse .navbar-collapse .navbar-nav li.dropdown.reasons {
    display: none;
  }
}
@media (max-width: 767px) {
  nav.navbar-inverse .navbar-collapse .navbar-nav li.menu-people,
  nav.navbar-inverse .navbar-collapse .navbar-nav li.dropdown.reasons {
    display: block;
  }
}
h1 {
  text-align: center;
}
.purple-text {
  color: #6d488d;
}
.container-fluid.holiday .row {
  margin-bottom: 30px;
}
.container-fluid.holiday .row .menu-image-container {
  position: relative;
}
.container-fluid.holiday .row .menu-image-container .menu-image-bottom {
  margin-top: 5%;
}
.container-fluid.holiday .row .menu-image-container > a,
.container-fluid.holiday .row .menu-image-container .menu-image-top > a,
.container-fluid.holiday .row .menu-image-container .menu-image-bottom > a {
  position: relative;
  display: block;
}
.container-fluid.holiday .row .menu-image-container > a .product-caption,
.container-fluid.holiday .row .menu-image-container .menu-image-top > a .product-caption,
.container-fluid.holiday .row .menu-image-container .menu-image-bottom > a .product-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: rgba(80, 55, 111, 0.65);
  color: #fff;
}
.container-fluid.holiday .row .menu-image-container > a .product-caption p,
.container-fluid.holiday .row .menu-image-container .menu-image-top > a .product-caption p,
.container-fluid.holiday .row .menu-image-container .menu-image-bottom > a .product-caption p {
  margin: 0;
}
.container-fluid.holiday .row .menu-image-container > a .product-caption p .extra-links,
.container-fluid.holiday .row .menu-image-container .menu-image-top > a .product-caption p .extra-links,
.container-fluid.holiday .row .menu-image-container .menu-image-bottom > a .product-caption p .extra-links {
  display: inline-block;
}
.grey-container {
  background-color: #d7d7d7;
  padding-left: 15px;
  padding-right: 15px;
}
.grey-container .container-fluid {
  padding: 15px;
}
.grey-container .container-fluid .row .finder-container {
  width: 32%;
  padding: 15px 0;
  color: #fff;
  cursor: pointer;
}
.grey-container .container-fluid .row .finder-container .bg-caption {
  height: 40px;
}
.grey-container .container-fluid .row .finder-container .bg-caption .finder-caption-title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 20px;
}
.grey-container .container-fluid .row .finder-container:nth-child(1) {
  background: url(/web/images/greyContainer/blue_bg.png) repeat;
}
.grey-container .container-fluid .row .finder-container:nth-child(2) {
  background: url(/web/images/greyContainer/red_bg.png) repeat;
  margin: 0 2%;
}
.grey-container .container-fluid .row .finder-container:nth-child(3) {
  background: url(/web/images/greyContainer/green_bg.png) repeat;
}
.ideas-container {
  margin-top: 10px;
}
.ideas-container .ideas .idea-bg {
  padding: 10px;
  margin: 10px 0;
  height: 100px;
  border: 1px solid #000;
  cursor: pointer;
}
.ideas-container .ideas .idea-bg .category-name {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  height: 100%;
  display: flex;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
}
.row.btn-all-ideas {
  margin-top: 20px;
}
hr {
  border-top-width: 3px;
}
.news-container {
  margin-bottom: 20px;
}
.news-container .news-index .news-title {
  color: #6d488d;
  font-weight: 600;
  font-size: 1.5em;
}
.news-container .news-index .news-text {
  text-align: left;
}
.news-container .news-index .news-text p {
  text-indent: 30px;
}
@media (max-width: 767px) {
  .container-fluid.holiday .row .menu-image-container > a .product-caption,
  .container-fluid.holiday .row .menu-image-container .menu-image-top > a .product-caption,
  .container-fluid.holiday .row .menu-image-container .menu-image-bottom > a .product-caption {
    position: static;
    background: transparent;
    color: #6d488d;
    font-weight: bold;
    font-size: 1.2em;
  }
  .grey-container {
    background-color: #d7d7d7;
    padding-left: 15px;
    padding-right: 15px;
  }
  .grey-container .container-fluid {
    padding: 5px;
  }
  .grey-container .container-fluid .row .finder-container {
    width: 100%;
    padding: 15px 0;
    color: #fff;
    cursor: pointer;
  }
  .grey-container .container-fluid .row .finder-container:nth-child(2) {
    margin: 0;
  }
}
.about p {
  text-indent: 2em;
  text-align: justify;
}
.products-container {
  margin-top: 20px;
}
.products-container .products-item .well {
  max-height: 250px;
  margin-bottom: 20px;
}
.products-container .products-item .well a.image-product-link {
  height: 150px;
  width: auto;
}
.products-container .products-item .well a.image-product-link img {
  height: inherit;
  width: auto;
  margin: 0 auto;
}
.products-container .products-item .well .capture a {
  color: #6d488d;
  font-weight: 600;
}
.products-container .products-item .well .capture a:hover {
  color: #5b3d75;
  text-decoration: none;
}
.feedback input {
  margin-bottom: 20px;
}
.feedback p.remaining-text {
  text-align: right;
  color: grey;
  font-size: 80%;
}
.feedback p.remaining-text.warn-help-block {
  color: #a94442;
}
.panel-group .col-sm-10,
.panel-group .col-xs-12 {
  padding-right: 0;
  padding-left: 0;
}
