<div class="container">
    <h1>FAQ</h1>

    <div class="panel-group row" id="accordion">

        <div class="panel panel-default col-sm-10 col-sm-offset-1 col-xs-12" ng-repeat="faq in faqs">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       ng-href="{{url}}#collapse{{faq.id}}">{{faq.question}}</a>
                </h4>
            </div>
            <div ng-attr-id="{{ 'collapse' + faq.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>{{faq.answer}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


