<div class="text-center">

    <div class="container">
        <h1>Contact Us</h1>


        <form class="feedback col-sm-6 col-sm-offset-3 col-xs-12" name="feedback_client" ng-submit="submitForm()"
              novalidate>

            <div class="form-group"
                 ng-class="{ 'has-error' : feedback_client.name.$invalid && !feedback_client.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="user.name" required>
                <p ng-show="feedback_client.name.$invalid && !feedback_client.name.$pristine" class="help-block">You
                    name is required.</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : feedback_client.email.$invalid && !feedback_client.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.email">
                <p ng-show="feedback_client.email.$invalid && !feedback_client.email.$pristine" class="help-block">Enter
                    a valid email.</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : feedback_client.subject.$invalid && !feedback_client.subject.$pristine }">
                <label>Subject</label>
                <input type="text" name="subject" class="form-control" ng-model="user.subject">

            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : (feedback_client.text.$invalid && !feedback_client.subject.$pristine) || feedback_client.text.$error.minlength || feedback_client.text.$error.maxlength}">
                <label>Text</label>
                <textarea ng-minlength="5" ng-maxlength="200" name="text" class="form-control" ng-model="user.text"
                          required="">{{user.text}}</textarea>
                <p ng-show="(!feedback_client.text.$error.maxlength && !feedback_client.text.$error.minlength) || feedback_client.text.$viewValue.length ==0"
                   class="remaining-text" ng-class="{'warn-help-block' : shouldWarn()}">
                    Remaining: {{200 - feedback_client.text.$viewValue.length}}
                </p>
                <p ng-show="feedback_client.text.$error.minlength" class="help-block">Text is too short.</p>
                <p ng-show="feedback_client.text.$error.maxlength" class="help-block">Text is too long.</p>
            </div>

            <button type="submit" class="btn btn-purple-light" ng-disabled="feedback_client.$invalid">Submit</button>

        </form>

    </div>
</div>
