<div class="text-center">


    <div class="container">
        <h2>Contact Us</h2>

        <form class="feedback col-sm-6 col-sm-offset-3 col-xs-12"  name="feedback_shop" ng-submit="submitForm()" novalidate>

            <input class="form-group" type="hidden" name="id" value="1" required>

            <div class="form-group" ng-class="{ 'has-error' : feedback_shop.name.$invalid && !feedback_shop.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="user.name" required>
                <p ng-show="feedback_shop.name.$invalid && !feedback_shop.name.$pristine" class="help-block">You name is required.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : feedback_shop.subject.$invalid && !feedback_shop.subject.$pristine }">
                <label>Subject</label>
                <input type="text" name="subject" class="form-control" ng-model="user.subject" >

            </div>
            <div class="form-group" ng-class="{ 'has-error' : feedback_shop.text.$invalid && !feedback_shop.subject.$pristine || feedback_shop.text.$error.minlength || feedback_shop.text.$error.maxlength }">
                <label>Text</label>
                <textarea  ng-minlength="5" ng-maxlength="200" name="text" class="form-control" ng-model="user.text" required="">{{user.text}}</textarea>
                <p ng-show="(!feedback_shop.text.$error.maxlength && !feedback_shop.text.$error.minlength) || feedback_shop.text.$viewValue.length ==0" class="remaining-text" ng-class="{'warn-help-block' : shouldWarn()}">
                    Remaining: {{200 - feedback_shop.text.$viewValue.length}}
                </p>

                <p ng-show="feedback_shop.text.$error.minlength" class="help-block">Text is too short.</p>
                <p ng-show="feedback_shop.text.$error.maxlength" class="help-block">Text is too long.</p>

            </div>


            <button type="submit" class="btn btn-purple-light" ng-disabled="feedback_shop.$invalid">Submit</button>

        </form>
    </div>
</div>
