<div class="jumbotron text-center">


    <div class="container" ng-controller="RegistrationController">

        <form class="form-signup" name="form" novalidate>
            <h2 class="form-signin-heading">Please sign up</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input ng-model="user.email" type="email" id="inputEmail" name="uEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <br />
            <div ng-show="form.$submitted || form.uEmail.$touched">
                <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
            </div>
            <label for="inputLogin" class="sr-only">Login</label>
            <input ng-model="user.login" type="text" id="inputLogin" name="uLogin" class="form-control" placeholder="Login" required>
            <br />
            <div ng-show="form.$submitted || form.uLogin.$touched">
                <div ng-show="form.uLogin.$error.required">Tell us your login.</div>
            </div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="user.password" type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required="">
            <br />
            <div ng-show="form.$submitted || form._password.$touched">
                <span ng-show="form._password.$error.required">Tell us your password.</span>
            </div>
            <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
            <input ng-model="user.confirmPassword" type="password" id="inputConfirmPassword" name="_confirmpassword" class="form-control" placeholder="Confirm Password" required="">
            <br />
            <div ng-show="form.$submitted || form._confirmpassword.$touched">
                <span ng-show="form._confirmpassword.$error.required">Write us your password again.</span>

            </div>

            <button ng-click="register(user)" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
        <h5>{{ message }}</h5>
    </div>
</div>
